*{
    margin: 0;
    padding: 0;
    
}
.dashboard-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-body {
    flex: 1;
    display: flex;
  }
  
  .dashboard-content {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
    overflow-y: auto;
  }
  