.explore-page {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.explore-img-holder {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  & img {
    width: 100%;
    height: 100%;
  }
}

.explore-text {
  width: 100%;
  height: 30vh;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-header {
  width: 40%;
  height: 60%;
  background-color: #ffff;
  gap: 20px;
}
.explore-pop {
  color: var(--Color, #050505);
  text-align: center;

  line-height: normal;
  font-weight: bolder;
  
}
.explore-h {
    color: #f37110;
    font-size: 16px;
    font-style: normal;
  }
  .explore-p{
    color: var(--Color, #050505);
    font-size: 15px;
    font-weight: 500;
  }
.explore-details {
  text-align: center;
  font-style: normal;
  line-height: normal;
  
}
.card-holder {
  width: 100%;
  height: max-content;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  gap: 20px;
  row-gap: 50px;
  padding-bottom: 50px;
}
.Ads {
  width: 100%;
  height: 50vh;

  img {
    width: 100%;
    height: 100%;
  }
}
