.category-body{
    font-family: "Montserrat", sans-serif;

    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    
}
.category-img{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* object-fit: cover; */
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
}
.videobg{
    width: 100%;
    height: 100%;
}

.category-text-wrappers{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    

}
.text-holder{
height: 50%;
width: 100%;
display: flex;
flex-direction: row;
gap: 50px;
padding-top: 10px;
padding-bottom: 60px;
}
.top-text{
    width: 50%;
    height: 300%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 50px;

}
.category-button-holder{
    width: 50%;
    height:300%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 55px;

}
.category-toggle{
 height: 100%;
 width: 50%;
 border-radius: 50px;
 background-color:#FFCD2978 ;
 padding: 5px;
 display: flex;
 flex-direction: row;
 gap: 70px;
 align-items: center;
 justify-content: center;
 padding-left: 10px;
 color: #03045E;
}
.New-toggle{
    width: 50%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03045E;
    color: #ffff;
}

.buttom-text{
    width: 100%;
    height: 50%;
    padding-left: 50px;
    
}
.icon{
    padding-top: 5px;
    size: 20px;
    color: #9747FF;
    font-weight: bolder;
}
.category-product{
    width : 100%;
    height: max-content;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    gap: 20px;
    row-gap: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
}
@media (max-width: 480px) {
    .category-body{
        width: 100%;
        height: max-content;
    }
    .category-img{
        width: 100%;
        height: 30vh;
    }
    .category-text-wrappers{
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        
    }
   .text-holder{
    height: 100%;
    width: 100%;
    gap: 20px;
   }
   .buttom-text{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 5px;
   }
   .top-text{
    padding-left: 20px;
   }

   .category-button-holder{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 50px;
   }
    
    

    .category-toggle{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 0px;
       
    }
    .New-toggle{
        width: 50%;
        height: 100%;
        border-radius: 50px;
        background-color: #03045E;
        color: #ffff;

    }
    .category-used{
        width: 50%;
        color: #03045E;
    }

    .category-product{
        width: 100%;
        height: max-content;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    
    
}