@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.GetVerified{
    /* background: red; */
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getverifiedbody{
    height: 110%;
    width: 68%;
    gap: 10px;
    background: rgb(255,255,255);
    flex-direction: column;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getverifiedwrap{
    padding: 10px;
    height: 40%;
    width: 90%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.getverifiedwrap .getv {
    font-size: 24px;
    font-weight: 800;
    color: rgb(255,109,0);
    font-family: "Inter", sans-serif;
}

.getverifiedwrap .getv1 {
    font-size: 25px;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

.getverifiedwrapper{
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}

.getverifiedwrapperbody{
    width: 99%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.P1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(145,127,162);
}

.P1 .veryfy{
    font-size: 15px;
    color: rgb(145,127,162);
    font-family: "Inter", sans-serif;
}

.input{
    border: 1px solid black;
    width: 100%;
    height: 65%;
    padding: 10px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.name{
    border: 1px solid black;
    padding: 10px;
    width: 50%;
}
.p2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(145,127,162);
}

.P2 .veryfy1{
    font-size: 15px;
    color: rgb(145,127,162);
    font-family: "Inter", sans-serif;

}

.inputz{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    height: 90%;
    font-family: "Inter", sans-serif;
}


.getverifiedwrapperbody1{
    width: 99%;
    height: 18%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.P3{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(145,127,162);
}

.P3 .veryfy3{
    font-size: 15px;
    color: rgb(145,127,162);
}

.inputw{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 10px;
    color: rgb(145,127,162);
    font-family: "Inter", sans-serif;
}


.name{
    border: 1px solid black;
    padding: 10px;
    width: 50%;
}
.p4{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: rgb(145,127,162);
}

.P4 .veryfy4{
    font-size: 15px;
    color: rgb(145,127,162);
    font-family: "Inter", sans-serif;
}

.inpute{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    color: rgb(145,127,162);
    height: 90%;
} 


.getverifiedwrapperbody2{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.p10{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.very9{
    color: rgb(50,16,82);
}

.last{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 5%;
}

.male{
    width: 40%;
    height: 90%;
    gap: 10px;
    display: flex;
    align-items: center;
}

.p11{
    height: 80%;
    width: 50%;
    color: rgb(145,127,162);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.P11 .veryfy9{
    font-size: 15px;
    color: rgb(145,127,162);
    font-family: "Inter", sans-serif;
}

.inpuz{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    height: 90%;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.btn10{
    height: 20%;
    width: 100%;
    background: rgb(60,9,108);
    color: white;
}

.getverifiedwrabody3{
    height: 1%;
    width: 100%;
    display: none;

}




/* @media only screen and (max-width: 1440px) {
   
    
} */

/* for tablet and mobile devices */
@media only screen and (max-width: 900px) {
   .GetVerified{
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .getverifiedbody{
    height: 110%;
    width: 100%;
    gap: 15px;
    background: rgb(255,255,255);
    flex-direction: column;
    
   }

   .getverifiedwrap{
    padding: 10px;
    height: 25%;
    width: 90%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

    .getverifiedwrap .getv {
     font-size: 24px;
     font-weight: 900;
     color: rgb(255,109,0);
     font-family: "Inter", sans-serif;

    }

    .getverifiedwrap .getv1 {
     font-size: 25px;
     font-weight: 400;
     font-family: "Inter", sans-serif;
    }

    .getverifiedwrapper{
        height: 99%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
    }

    .getverifiedwrapperbody2{
        height: 20%;
        font-size: 15px;
        font-family: "Inter", sans-serif;

    }

    .getverifiedwrabody3{
        height: 44%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .pink{
        height: 65%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px  dashed grey;
    }
    
}

/* for mobile devices */
@media only screen and (max-width: 760px) {
    .GetVerified{
     height: 110vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background: red;
    }
 
    .getverifiedbody{
     height: 110%;
     width: 100%;
     gap: 15px;
     /* background: rgb(255,255,255); */
     flex-direction: column;
     background: pink;
     
    }
 
    .getverifiedwrap{
     padding: 10px;
     height: 25%;
     width: 90%;
     gap: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 10px;
     background: yellow;
    }
 
     .getverifiedwrap .getv {
      font-size: 29px;
      font-weight: 1000;
      color: rgb(255,109,0);
      font-family: "Inter", sans-serif;
 
     }
 
     .getverifiedwrap .getv1 {
      font-size: 27px;
      font-weight: 400;
      font-family: "Inter", sans-serif;
     }
 
     .getverifiedwrapper{
         height: 209%;
         width: 100%;
         align-items: center;
         gap: 10px;
         flex-direction: column;
         background: purple;
     }
 
     .getverifiedwrapperbody2{
         height: 20%;
         font-size: 15px;
         font-family: "Inter", sans-serif;
 
     }
 
     .getverifiedwrabody3{
         height: 44%;
         width: 100%;
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 15px;
         padding: 15px;
     }
 
     .pink{
         height: 99%;
         width: 80%;
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px  dashed grey;
     }
     
 }