.sidebar {
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pages-sidebar {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.sidebar-profileIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.sidebar-profileIcon hr {
  width: 100%;
}

.myprofiletext {
  font-size: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  width: 100%;
  padding: 10px;
}
.link {
  color: rgb(36,0,70);
  padding: 10px;
  text-decoration: none;
  border-left: 4px solid transparent;
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.link:hover {
  background-color: rgb(167, 158, 158);
}

.link.active {
  background-color: orange;
  border-left: 4px solid rgb(36,0,70);
}

.logout-button-setting{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid grey;
}
.logout-button{
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-setting{
  height: 40%;
  width: 800%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color:  rgb(36,0,70);
  font-size: 18px;
  font-weight: 600;
}



.dash-setting.active {
color: black;
background-color: orange;
  border-left: 4px solid rgb(36,0,70)purple;
  border-top: 4px solid rgb(36,0,70);
  border-radius: 10px 0px 10px 0px;
}
.dash-logout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: red;
  font-size: 18px;
  font-weight: 400;
}