.sidebar {
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  /* border-right: 2px solid grey; */
  align-items: center;
  /* border-top: 2px solid grey; */
  gap: 10px;
}

.pages-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-profileIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 10px; */
  width: 100%;
  padding: 10px;
}
.sidebar-profileIcon hr {
  width: 100%;
}

.myprofiletext {
  font-size: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 100%;
  padding: 10px;
}
.link {
  color: purple;
  padding: 10px;
  text-decoration: none;
  border-left: 4px solid transparent;
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.link:hover {
  background-color: rgb(167, 158, 158);
}

.link.active {
  background-color: orange;
  border-left: 4px solid purple;
}

.logout-button{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.dash-logout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: red;
  font-size: 18px;
  font-weight: 600;
}