/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Approveuserpost{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.approvepostofusername{
    height: 15%;
    width: 75%;
    background: rgb(255,255,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.approvepostofusername{
    height: 15%;
    width: 75%;
    background: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approvepostofusername .namesoftheusers{
    font-size: 20px;
    font-weight: 700;
    color: #240046;
    font-family: "Inter", sans-serif;

}

.approvepostofusername .sateoftheirpost{
    font-size: 18px;
    font-weight: 700;
    color: #240046;
    font-family: "Inter", sans-serif;

}

.approvebody{
    height: 100%;
    width: 85%;
    background: rgb(255,255,255);
    font-size: 100px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #240046;
    font-family: "Inter", sans-serif;
}

.approvefistcentereddiv{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approvefirstdivcenterd1{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approveimgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    height: 80px;
    width: 90px;
}
.img {
    height: 10%;
    width: 20%;
}


.approveh1divs{
    display: flex;
    justify-content: center;
    font-size: 17px;
    flex-direction: column;
    width: 190px;
    height: 90px;
}

.approveh1divs .approvefont1{
    font-size: 20px;
    font-weight: 600;
}

.approveh1divs .approvefont2{
    font-size: 9px;
    font-weight: 500;
}


.approvefirstdivcenterd10{
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approveimgdiv2{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approveimgdiv2 .approveimgh21{
    font-size: 14px;
    font-weight: 400;
}

.approveimgdiv2 .approveimgh22{
    font-size: 16px;
}

.approveimgdiv3{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approveimgdiv3 .approveimgh22{
    font-size: 14px;
    font-weight: 400;
}

.approvefistcentereddiv1{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approvefistcentereddiv2{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approvefistcentereddiv3{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approvefistcentereddiv4{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */





.changepassword{
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changepasswordwrapper{
    background: rgb(255,255,255);
    height: 90%;
    width: 57%;
    flex-direction: column;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backicon{
    display: flex;
    align-items: flex-start;
    width: 90%;
    height: 14%;
}

.backiconbtn{
    height: 70%;
    width: 28%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(36,0,70);
    border-radius: 30px;
    font-size: 20px;
}

.changepasswordinner{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changepasswordinnerlast{
    height: 300px;
    gap: 9px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changepasswordinnerlast .number10 {
    font-size: 27px;
    font-weight: 700;
    color: rgb(36,0,70);
}

.changepasswordinnerlast .number0 {
    font-size: 20px;
    color: rgb(36,0,70);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changepasswordinnerlast > input  {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(36,0,70);
    width: 90%;
    font-size: 20px;
    color: rgb(36,0,70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.changepasswordinnerlast .saveee {
    background: rgb(36,0,70);
    padding: 10px;
    height: 50px;
    width: 90px;
    color: white;
}