
.changepassword{
    background: rgb(249,249,249);
    height: 80vh;
    width: 80%;
    /* padding-top: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.changepasswordwrapper{
    background: rgb(255,255,255);
    height: 100%;
    width: 80%;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.changepasswordinner{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changepasswordonnerlast{
    height: 300px;
    gap: 7px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changepasswordonnerlast .number1 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(36,0,70);
}

.changepasswordonnerlast .number {
    font-size: 15px;
    color: rgb(36,0,70);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changepasswordonnerlast > input  {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(36,0,70);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changepasswordonnerlast .saveee {
    background: rgb(36,0,70);
    height: 50px;
    width: 90px;
    color: white;
}
