/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.DeleteProfile{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.usersname{
    height: 15%;
    width: 75%;
    background: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.usersname .namesofusers{
    font-size: 20px;
    font-weight: 700;
    color: #240046;
    font-family: "Inter", sans-serif;

}

.usersname .actioncalls{
    font-size: 18px;
    font-weight: 500;
    color: #240046;
    font-family: "Inter", sans-serif;

}

.usersbody{
    height: 100%;
    width: 85%;
    background: rgb(255,255,255);
    font-size: 100px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #240046;
    font-family: "Inter", sans-serif;
}

.fistcentereddiv{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.firstdivcenterd1{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    height: 80px;
    width: 90px;
}
.img {
    height: 10%;
    width: 20%;
}


.h1divs{
    display: flex;
    justify-content: center;
    font-size: 17px;
    flex-direction: column;
    width: 190px;
    height: 90px;
}

.h1divs .font1{
    font-size: 20px;
    font-weight: 600;
}

.h1divs .font2{
    font-size: 9px;
    font-weight: 500;
}


.firstdivcenterd10{
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgdiv2{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv2 .imgh21{
    font-size: 14px;
    font-weight: 400;
}

.imgdiv2 .imgh22{
    font-size: 16px;
}

.imgdiv3{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv3 .imgh22{
    font-size: 14px;
    font-weight: 400;
}

.fistcentereddiv1{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fistcentereddiv2{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fistcentereddiv3{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fistcentereddiv4{
    height: 20%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */





.changephonenumber{
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changephonenumberwrapper{
    background: rgb(255,255,255);
    height: 90%;
    width: 57%;
    flex-direction: column;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backicon{
    display: flex;
    align-items: flex-start;
    width: 90%;
    height: 14%;
}

.backiconbtn{
    height: 70%;
    width: 28%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(36,0,70);
    border-radius: 30px;
    font-size: 20px;
}
.changephonenumberinner{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.changephonenumberlast{
    height: 300px;
    gap: 7px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changephonenumberlast .number1 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(36,0,70);
}

.changephonenumberlast .number {
    font-size: 15px;
    color: rgb(36,0,70);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changephonenumberlast > input  {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(36,0,70);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changephonenumberlast .saveee {
    background: rgb(36,0,70);
    height: 50px;
    width: 90px;
    color: white;
}