.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
}

.dashboard-header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard-header-content-leftside img {
  cursor: pointer;
  width: 120px;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.dashboard-header-content-rightside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 20%;
}

.dashboard-content-home,
.dashboard-content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.dashboard-content-home p {
  margin-left: 8px;
}

.dash-profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .dashboard-header-content-rightside {
    display: none !important;
  }

  .burger-menu {
    display: flex !important;
    align-items: center;
  }

  .mobile-drawer .ant-drawer-body {
    padding: 0 16px;
  }
}
